<template>
    <div  class="outlook">
        <Header />
        <b-table
        class="discount-table w"
        bordered
        :items="items"
        :fields="fields"
        v-if="items.length"
      >
      </b-table>
    </div>
</template>
<script>
import axios from 'axios'
import Header from '../header.vue'
export default {
    name: "api",
    data() {
        return {
            items: [],
            fields: [
                {
                    key: "id",
                    label: "ID",
                },
                {
                    key: "title",
                    label: "Title",
                },
                {
                    key: "body",
                    label: "Description",
                },
            ],
        };
    },
    methods: {
        getAllPost() {
            axios.get("https://jsonplaceholder.typicode.com/posts").then((res) => {
                this.items = res.data;
            });
        }
    },
    created() {
        this.getAllPost();
    },
    components: { Header }
}
</script>