
<template>
  <div class="outlook">
    <Header />
    <div class="center">
      <button class="button" @click="create = true">
        <span>Create </span>
      </button>
      <button class="button" @click="create = false"><span>List </span></button>
      <button class="button" @click="getPdf" v-if="items.length > 0 && !create"><span>Export </span></button>
      <button class="button" @click="deleteSelectedRows" v-if="selectedRows.length > 0 && !create"><span>Delete Rows </span></button>
    </div>
    <div v-if="create">
      <span class="cr-title title">Create Event : </span>

      <div class="form_center forms">
        <div v-if="$session.has('token')">
          <b-form>
            <b-form-group>
              <b-form-input
              autofocus
                type="text"
                v-model="$v.event_name.$model"
                placeholder="Enter event name here..."
                @keypress="isLetter($event)"
              />
              <span
                class="text-danger"
                v-if="!$v.event_name.required && $v.event_name.$dirty"
                >Required Field</span
              >
            </b-form-group>
            <b-form-group>
              <b-form-textarea
                id="textarea-rows"
                placeholder="Enter location here..."
                rows="5"
                v-model="$v.location.$model"
                @keypress="checkLocation($event)"
              ></b-form-textarea>
              <span
                class="text-danger"
                v-if="!$v.location.required && $v.location.$dirty"
                >Required Field</span
              >
              <span class="text-danger" v-if="!$v.location.minLength"
                >Please type more...</span
              >
              <span class="text-danger" v-if="!$v.location.maxLength"
                >Too long data...</span
              >
            </b-form-group>
            <b-form-group>
              <datepicker
                input-class="form-control"
                placeholder="Event Start Date"
                autocomplete="off"
                v-model="date_start"
                name="date_start"
                :minimumView="'day'"
                :maximumView="'year'"
                :initialView="'year'"
                :open-date="new Date()"
                :format="dateformat"
              ></datepicker>
              <span
                class="text-danger"
                v-if="!$v.date_start.required && $v.date_start.$dirty"
                >Required Field</span
              >
            </b-form-group>
            <b-form-group>
              <datepicker
                input-class="form-control"
                placeholder="Event End Date"
                autocomplete="off"
                v-model="date_end"
                name="date_end"
                :minimumView="'day'"
                :maximumView="'year'"
                :initialView="'year'"
                :open-date="new Date()"
                :format="dateformat"
              ></datepicker>
              <span
                class="text-danger"
                v-if="!$v.date_end.required && $v.date_end.$dirty"
                >Required Field</span
              >
              <span
                v-if="
                  !$v.date_end.$error && !$v.date_start.$error && compareDate
                "
                class="text-danger"
                >{{ compareDate }}</span
              >
            </b-form-group>
            <b-form-group>
              <input
                class="form-control"
                type="file"
                id="uploadCaptureInputFile"
                @change="getFiles($event)"
              />
              <span
                class="text-danger"
                v-if="!$v.file.required && $v.file.$dirty"
                >Required Field</span
              >
              <span v-if="!$v.file.$error && fileError" class="text-danger">{{
                fileError
              }}</span>
            </b-form-group>
            <b-form-group style="text-align: end">
              <b-button
                type="button"
                variant="secondary"
                class="mr-3"
                @click="saveEvent"
                v-if="!edit"
                >Save Event</b-button
              >
              <b-button
                type="button"
                variant="secondary"
                class="mr-3"
                @click="updateEvent"
                v-if="edit"
                >Update Event</b-button
              >
              <b-button
                type="button"
                variant="secondary"
                @click="
                  create = false;
                  edit = false;
                "
                v-if="edit"
                >Cancel</b-button
              >
            </b-form-group>
          </b-form>
        </div>
      </div>
    </div>
    <div v-if="!create">
      <!-- <Header /> -->
      <div class="col-md-3 mb-4">
        <span class="cr-title title">Event list : </span>
      </div>
      <b-alert
        variant="warning"
        v-model="show"
        v-if="items.length == 0"
        class="alertpos"
        >No events found!</b-alert
      >
       <div class="tb-with hiddendata" style="overflow-x: auto" id="printMe">
        <b-table  bordered
        striped :items="items" :fields="fieldsPrint">
         <template v-slot:cell(start_date)="data">
          <div>{{ formatDate(data.item.start_date) }}</div>
        </template>
        <template v-slot:cell(end_date)="data">
          <div>{{ formatDate(data.item.end_date) }}</div>
        </template>
        <template v-slot:cell(image)="data">
          <div>
            <img :src="data.item.image[0]" height="100" width="100" />
          </div>
        </template> </b-table>
      </div>
      <b-table
        class="discount-table w"
        bordered
        :items="items"
        :fields="fields"
        v-if="items.length"
      >
        <template v-slot:cell(id)="data">
          <div>
            <input type="checkbox" @change="getSelectedRows($event, data)" />
          </div>
        </template>
        <template v-slot:cell(start_date)="data">
          <div>{{ formatDate(data.item.start_date) }}</div>
        </template>
        <template v-slot:cell(end_date)="data">
          <div>{{ formatDate(data.item.end_date) }}</div>
        </template>
        <template v-slot:cell(image)="data">
          <div>
            <img :src="data.item.image[0]" height="100" width="100" />
          </div>
        </template>
        <template v-slot:cell(action)="data">
          <b-link @click="editEvent(data)">Edit | </b-link>
          <b-link @click="deleteEvent(data)">Delete</b-link>
        </template>
      </b-table>
    </div>
  </div>

  <!-- </b-row> -->
</template>
<script>
import Vuelidate from "vuelidate";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import Vue from "vue";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
// import axios from 'axios'
import swal from "sweetalert";
import VueHtmlToPaper from "vue-html-to-paper";
import Header from "../header.vue";

Vue.use(Vuelidate);
const options = {
  name: "_blank",
  specs: ["fullscreen=yes", "titlebar=yes", "scrollbars=yes"],
  styles: [
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    "https://unpkg.com/kidlat-css/css/kidlat.css",
  ],
};

Vue.use(VueHtmlToPaper, options);
export default {
  data() {
    return {
      event_name: "",
      location: "",
      dateformat: "dd/MM/yyyy",
      date_start: "",
      date_end: "",
      file: [],
      fileError: "",
      compareDate: "",
      create: false,
      items: [],
      fields: [
        {
          key: "id",
          label: "Select",
        },
        {
          key: "name",
          label: "Event Title",
        },
        {
          key: "location",
          label: "Location",
        },
        {
          key: "start_date",
          label: "Event Start Date",
        },
        {
          key: "end_date",
          label: "Event End Date",
        },
        {
          key: "image",
          label: "Image",
        },
        {
          key: "action",
          label: "Action",
        },
      ],
            fieldsPrint: [
        {
          key: "name",
          label: "Event Title",
        },
        {
          key: "location",
          label: "Location",
        },
        {
          key: "start_date",
          label: "Event Start Date",
        },
        {
          key: "end_date",
          label: "Event End Date",
        },
        {
          key: "image",
          label: "Image",
        },
      ],

      selectedRows: [],
      show: true,
      index: "",
      edit:false
    };
  },
  components: { Datepicker, Header },
  methods: {
    isLetter(e) {
  let char = String.fromCharCode(e.keyCode); // Get the character
  if(/^[A-Za-z]+$/.test(char)) return true; // Match with regex 
  else e.preventDefault(); // If not match, don't add to input text
    },
 checkLocation(e) {
    let char = String.fromCharCode(e.keyCode); // Get the character
  if(/^[a-zA-Z, ]*$/.test(char)) return true; // Match with regex 
  else e.preventDefault(); // If not match, don't add to input text

},
    deleteSelectedRows() {
      if (this.selectedRows.length > 0) {
        swal({
          title: "Warning!",
          text: "Are you sure to delete all selected events?",
          icon: "warning",
          buttons: true,
        }).then((willdelete) => {
          if (willdelete) {
              for (let row = 0; row < this.selectedRows.length; row++) { 
                for (let index = 0; index < this.items.length; index++) {
                  if (this.items.indexOf(this.selectedRows[row]) >= 0) {
                    this.items.splice(this.items.indexOf(this.selectedRows[row]), 1)
                    this.selectedRows.indexOf(this.selectedRows[row], 1)
                  }
              }
              }
          }
        });
      }
    },
    getPdf() {
      this.create = false
      this.$htmlToPaper("printMe");
    },
    confirmDelete(data) {
      swal({
        title: "Warning!",
        text: "Are you sure to delete this event?",
        icon: "warning",
        buttons: true,
      }).then((willdelete) => {
        if (willdelete) {
          this.items.splice(data.index, 1);
        }
      });
    },
    editEvent(data) {
      console.log(data.item);
      this.create = true;
      this.edit = true;
      this.index = data.index;
      this.event_name = data.item.name;
      this.location = data.item.location;
      this.date_end = data.item.end_date;
      this.date_start = data.item.start_date;
      this.file = data.item.image;
    },
    updateEvent() {
      let data = {
        name: this.event_name,
        location: this.location,
        start_date: this.date_start,
        end_date: this.date_end,
        image: this.file,
      };
      this.items[this.index] = data;
      this.successPopUp()
    },
    deleteEvent(data) {
      this.confirmDelete(data);
    },

    getSelectedRows(event, data) {
    
      if (event.target.checked) {
        this.selectedRows.push(data.item)
      }
      else {
        for (let index = 0; index < this.selectedRows.length; index++) {
                   this.selectedRows.splice(this.selectedRows.indexOf(this.selectedRows[index]),1)
          }
      }
      console.log(this.selectedRows)
    },
    formatDate(date) {
      return moment(date).format("DD-MM-YYYY");
    },
    getEventList() {
      this.items = this.$store.getters.getFormData;
      //        axios.get("http://localhost:8081/api/events/all").then(res=>{
      // this.items = res.data;

      //                 }).catch(err=>{
      //                     console.log(err)
      //             // this.loader = false

      //                 })
    },
    getFiles(e) {
      const supportedExtensions = ["jpeg", "jpg", "png"];

      const path = e.target.value.split(".");
      const extension = `${path[path.length - 1].toLowerCase()}`;

      if (supportedExtensions.includes(extension)) {
        this.fileError = "";
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length) return;
        // this.projectFiles_filename = e.target.files[0].name;
        if (this.checkImageSize(files[0].size)) {
          var reader = new FileReader();
          reader.onload = (e) => {
            this.fileError = "";
            this.file.push(e.target.result);
            return;
          };
          reader.readAsDataURL(files[0]);
        } else {
          this.fileError = "File size must below 1 MB";
          // this.projectFiles_filename = "";
        }
      } else {
        this.fileError = "Not accepted file extension. Please jpeg,jpg or png";
        // this.projectFiles_filename = "";
      }
    },
    checkImageSize(x) {
      const units = ["bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];
      let l = 0,
        n = parseInt(x, 10) || 0;
      while (n >= 1024 && ++l) {
        n = n / 1024;
      }
      // this.uploadedResumeSize = n.toFixed(2) + " " + units[l];
      if (units[l] == "MB") {
        if (n.toFixed(n < 10 && l > 0 ? 1 : 0) > 1) {
          return false;
        } else {
          return n.toFixed(n < 10 && l > 0 ? 1 : 0) + " " + units[l];
        }
      }
      if (units[l] == "bytes" || units[l] == "KB") {
        return n.toFixed(n < 10 && l > 0 ? 1 : 0) + " " + units[l];
      }
      if (units[l] != "bytes" || units[l] != "KB" || units[l] != "MB") {
        return false;
      }
    },
    saveEvent() {
      this.$v.$touch();
      if (moment(this.date_start).isSameOrBefore(this.date_end)) {
        this.compareDate = "";
      } else {
        this.compareDate = "End date must be greater than start date!";
      }
      if (this.$v.$error || this.compareDate || this.fileError) {
        return false;
      } else {
        let params = {
          name: this.event_name,
          location: this.location,
          start_date: this.date_start,
          end_date: this.date_end,
          image: this.file,
        };
        this.$store.dispatch("changeFormData", params);
        this.edit = false;
        this.successPopUp();

        this.items = this.$store.getters.getFormData;
        //         axios.post("http://localhost:8081/api/events",params).then(res=>{
        // console.log(res.data)
        // this.successPopUp();

        //                 }).catch(err=>{
        //                     console.log(err.response.data)
        //             // this.loader = false

        //                 })
      }
    },
    successPopUp() {
      let text  = this.edit ? "Event updated successfully!" : "Event saved successfully!"
      this.boxTwo = "";
      this.$bvModal
        .msgBoxOk(text, {
          title: "Success",
          size: "sm",
          buttonSize: "sm",
          // okVariant: "success",
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true,
        })
        .then(() => {
          this.event_name = "";
          this.location = "";
          this.date_start = "";
          this.date_end = "";
          document.getElementById("uploadCaptureInputFile").value = "";
          this.$v.$reset();
        })
        .catch(() => {
          // An error occurred
        });
    },
  },
  created() {
    if (!this.$session.has("token")) {
      this.$router.push("/");
    } else {
      this.items = this.$store.getters.getFormData
    }
  },
  validations: {
    location: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(100),
    },
    event_name: {
      required,
    },
    date_start: {
      required,
    },
    date_end: {
      required,
    },
    file: {
      required,
    },
  },
};
</script>
<style scoped>
.hiddendata {
  display: none;
}
</style>
