.cr-title {
  font-size: 22px;
  font-weight: 500;
  color: #4e5462;
}

.form_center {
  max-width: 450px;
  margin: auto;
  padding-top: 10%;
}
.space{
  margin-bottom: 30px;
}
.w-100{
  width: 100% !important;
}
.h-40{
    height: 40px;

}
.loader-size{
    font-size: 20px;

}
.text-danger {
  color: "red";
  font-size: 10px;
}

.cr-date {
  color: #626d81;
  border: #e2e6ea solid 1px;
  border-radius: 3px;
  padding: 10px;
  width: max-content;
  cursor: pointer;
}
/* .d-flex-arrow img {
  margin-left: 35px;
  cursor: pointer;
} */
