<template>
  <div>
  <b-navbar type="dark" variant="secondary">
    <b-navbar-nav>
     <span style="color:white;font-size: 20px;margin-right: 650%;" >Events</span>
<!-- </b-nav-item> -->
      <b-nav-item href="/api-list" @click="logout" style="flex:end">API</b-nav-item>

      <b-nav-item href="/" @click="logout" style="flex:end">Logout</b-nav-item>

    </b-navbar-nav>
  </b-navbar>
</div>
</template>

<script>
export default {
    methods:{
        logout(){
            this.$session.remove('token')
            this.$router.push('/')
        }
    }
}
</script>

