<template>
  <div class="form_center" v-if="!token">
    <div class="space">
    <b-form-input       class="h-40"
 placeholder="Email here..." v-model="$v.username.$model" type="email" >
    
    </b-form-input>
    <span class="text-danger" v-if="!$v.username.required && $v.username.$dirty">Required Field!</span>
    <span class="text-danger" v-if="!$v.username.email">Invalid Email!</span>
    <span class="text-danger" v-if="email_error">{{email_error}}</span>

    </div>
        <div class="space">

    <b-form-input
      type="password"
      placeholder="Password here..."
      v-model="password"
      @input="validatePassword"
      class="h-40"
    >
    </b-form-input>
        <span v-if="error" class="text-danger">{{ error }}</span>

    </div>
    
    <b-button class="primary w-100 h-40" @click="verifyUser"><span v-if="!loader">LOGIN</span>
              <span v-if="loader">
                <i class="fa fa-spinner fa-pulse loader-size"></i
              ></span></b-button>
  </div>
</template>
<script>
import Vuelidate from "vuelidate";
import Vue from 'vue'
import {
  required,
  email,
} from "vuelidate/lib/validators";
Vue.use(Vuelidate)
export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      error: "",
      loader: false,
      email_error:""
    };
  },
  methods: {
    validatePassword() {
      if (this.password.length < 8) {
        this.error = "Password must contain 8 characters";
      } else if (this.password.length > 15) {
        this.error = "Password is too long";
      } else if (
        !this.password.match(
          /^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%&^*(){}[:;'"?/=+-_.,<>!`~]).*$/
        )
      ) {
        this.error =
          "Password must contain one capital,numeric,special character";
      } else {
        this.error = "";
      }
    },
    verifyUser() {
      if(this.password == 'Apple@1310' && this.username == "kamatchiganesan13@gmail.com") {
        this.error = "";
        this.email_error = ""
        this.loader=true;
      this.$v.$touch();
      this.validatePassword()
      if(this.$v.$error || this.error || this.email_error){
        this.loader = false
      }
      else{
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < 16; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * 
 charactersLength));
   }
   this.$session.set("token",result)
   this.loader = false
   this.$router.push('/home')
      }
      }
      else {
        if(this.password != "Apple@1310")
          this.error = "Password not matched!"
        if (this.username != "kamatchiganesan13@gmail.com") {
          this.email_error = "Email id not matched!"
        }
      }
      
    },
  },
  created() {
    this.token = this.$session.get('token')
    if (this.$session.get('token')) {
      this.$router.push('/home')
    }
  },
  validations:{
    username:{
      required,
      email
    }
  }
};
</script>
